:root {
    --codeBackColor: lightgrey;
    --syntaxBackColor: silver;
    --tableHeadColor: rgba(243, 187, 45, 0.3);
    --tableDataColor: rgba(52, 213, 235, 0.2);
    --exampleBackColor: orange;
    --backColorPage: white;
    --fontColor: black;
    --attributeBackground: Lime;
    --valueBackground: aqua;
    --childNode: Lime;
    --elementNode: aqua;
    --important: rgb(247, 109, 109);
    --overView: rgb(255, 232, 210);
    --browserOutput: rgb(253, 237, 114);
    --genericDetailBox: OldLace;


    /* color coding ....
    /* html attribute */
    /* --htmlAttribute: darkseagreen; */
    /* html value */
    --htmlValue: deepskyblue;
    /* html element */
    --htmlElement: gold;
    /* css property */
    --cssProperty: greenyellow;
    /* css property-value */
    --cssPropertyValue: lightskyblue;
    /* JavaScript method */
    /* --jsMethod: coral; */
    /* JavaScript property */
    /* --jsProperty: lawngreen; */
    /* JavaScript value */
    /* --jsValue: mediumturquoise; */
}

/* start headings & elements //////////////////////////////////////////////////////////////////////////////// */
main {
    margin: auto;
    width: 102ch;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px lightgrey, 0 0 5px darkblue;
}

h2 {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 2rem;
    border-top: solid dimgray 1px;
    margin-bottom: 00.5em;
    /* text-shadow: 0 0 4px red; */
    color: #333;
}

h3 {
    text-transform: capitalize;
    border-top: dashed dimgray 1px;
    padding-top: 0.5rem;
    margin-left: 4ch;
    margin-bottom: -0rem;
    font-size: 1.2rem;
    color: #333;
}

h3~details,
h3~p,
h3~ul,
h3~ol,
h3~h4 {
    margin-left: 4ch;
}

h1+.expText,
h2+.expText {
    margin-left: 0ch;
}

h4 {
    text-decoration: underline;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: lowercase;
    margin-bottom: 00.5rem;
    color: #333;
}

p {
    max-width: 100ch;
}

.expText {
    border-left: solid dimgray 4px;
    padding-left: 2ch;
    font-style: italic;
    font-size: 1.1rem;
    max-width: 80ch;
    margin-top: 0.5em;
}

code {
    background-color: var(--codeBackColor);
    font-family: monospace;
}

img {
    margin-left: 1ch;
}

/* start style html element ////////////////////////////////////// */
.sHtml {
    background-color: var(--codeBackColor);
    font-family: monospace;
}

.sHtml::before {
    content: '<';
}

.sHtml::after {
    content: '>';
}

/* end style html element ////////////////////////////////////// */

figure {
    margin: 0.5ch;
}

figcaption {
    font-style: italic;
}

figcaption+* {
    margin-top: 0ch;
}

.browser {
    background-color: var(--browserOutput);
    display: inline-block;
    box-shadow: 5px 5px 5px grey;
    padding-top: 0.5ch;
    padding-right: 0.5ch;
    padding-bottom: 0.5ch;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* end headings & elements //////////////////////////////////////////////////////////////////////////////// */

/* start list /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
li {
    max-width: 80ch;
}

/* li>ul {
    margin-top: 00.02rem;
} */

ul {
    margin-top: 0.5ch;
}

.listH {
    list-style-type: none;
    margin-left: -20px;
    /* text-decoration: underline; */
    letter-spacing: 0.1ch;
    font-size: 1.1em;
    /* counter-increment: item;*/
    border-bottom: 4px double black;
    display: inline-block;
}

.listC {
    list-style-type: none;
    margin-left: -20px;
    /* text-decoration: underline; */
    letter-spacing: 0.1ch;
    font-size: 1.1em;
    /* counter-increment: item;*/
    /* background-color: var(--codeBackColor); */
    display: inline-block;
}

.listC~li {
    margin-left: 3ch;
}

.thumbUp {
    list-style-image: url(/images/LOGO/thumb_up_icon.png);
    text-align: left;
}

.thumbDown {
    list-style-image: url(/images/LOGO/down_hand_thumb_icon.png);
    text-align: left;
}

.upDown {
    list-style-image: url(/images/LOGO/upAndDown.png);
    text-align: left;
}

/* end list ///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* start table /////////////////////////////////////////////////////////////////////////////// */
table {
    border-collapse: collapse;
    max-width: 100ch;
    padding: 4px;
}

td,
th {
    border: var(--backColorPage) dashed 2px;
    padding: 4px 4px 4px 4px;
    text-align: center;
}

th {
    background-color: var(--tableHeadColor);
}

td {
    background-color: var(--tableDataColor);
}

td li {
    text-align: left;
}

td ul {
    margin: 0.1ch;
}

.dlCode dt {
    font-family: monospace;
    font-weight: bold;
    background-color: var(--codeBackColor);
    display: inline;
}

.dlCode dd {
    font-style: italic;
    /* background-color: var(--genericDetailBox); */
}

/*start table border /////////////////////////////////////////////////////////////////////////////// */
.borderTop {
    border: 0px;
    border-top: dashed 1px var(--fontColor);
    background-color: var(--backColorPage);
    font-style: italic;
}

.borderBottom {
    border: 0px;
    border-bottom: dashed 1px var(--fontColor);
    background-color: var(--backColorPage);
    font-style: italic;
}

.borderToBo {
    border: 0px;
    border-top: dashed 1px var(--fontColor);
    border-bottom: dashed 1px var(--fontColor);
    background-color: var(--backColorPage);
    font-style: italic;
}

.borderLeRi {
    border: 0px;
    border-left: dashed 1px var(--fontColor);
    border-right: dashed 1px var(--fontColor);
    background-color: var(--backColorPage);
    font-style: italic;
}

.empCell {
    border: 0px;
    background-color: var(--backColorPage);
    font-style: italic;
}

/* end table border /////////////////////////////////////////////////////////////////////////// */
/* end table /////////////////////////////////////////////////////////////////////////////// */

/* start colors highlights /////////////////////////////////////////////////////////////////////////// */
.cAtt {
    background-color: var(--attributeBackground);
}

.cCod {
    background-color: var(--codeBackColor);
}

.code {
    background-color: var(--codeBackColor);
    font-family: monospace;
    display: inline-block;
    text-align: left;
}

.cExa {
    background-color: var(--exampleBackColor);
}

.cImp {
    background-color: var(--important);
}

.cOVi {
    background-color: var(--overView);
}

.cSyn {
    background-color: var(--syntaxBackColor);
    display: inline-block;
}

.cVal {
    background-color: var(--valueBackground);
}

.cBox {
    background-color: var(--genericDetailBox);
}

/* end highlights /////////////////////////////////////////////////////////////////////////// */

/* start >>> marking html elements attributes */
.ha {
    background-color: var(--attributeBackground);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30%;
    box-shadow: 2px 2px 2px grey;
    font-family: monospace;
}

.he {
    background-color: var(--htmlElement);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20%;
    box-shadow: 2px 2px 2px grey;
    font-family: monospace;
}

.he::after {
    content: '>';
}

.he::before {
    content: '<';
}

.hv {
    background-color: var(--htmlValue);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20%;
    box-shadow: 2px 2px 2px grey;
    font-family: monospace;
}

.cp {
    background-color: var(--cssProperty);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20%;
    box-shadow: 2px 2px 2px grey;
    font-family: monospace;
}

.cp::after {
    content: ':';
}

.cv {
    background-color: var(--cssPropertyValue);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20%;
    box-shadow: 2px 2px 2px grey;
    font-family: monospace;
}

/* end >>> marking html elements attributes */

/* start details / summary /////////////////////////////////////////////////////////////////////// */
details {
    display: inline-block;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 1ch;
    padding-right: 1ch;
    margin: 5px;
}

summary {
    padding-left: 0.4ch;
    padding-right: 0.2ch;
    letter-spacing: 0.2rem;
    font-style: italic;
}

/* .cAtt summary::before {
    content: 'attribute';
} */

/* .cCod summary::before {
    content: 'code';
} */

.cExa summary::before {
    content: 'example';
    background-color: var(--exampleBackColor);
}

details .cExa {
    background-color: var(--genericDetailBox);
}

.cImp summary::before {
    content: 'important';
}

.cOVi summary::before {
    content: 'overview';
}

.cSyn summary::before {
    content: 'syntax';
}

/* .cVal summary::before {
    content: 'value';
} */


/* end details / summary ///////////////////////////////////////////////////////////////////////

/* start navBar /////////////////////////////////////////////////////////////////////////////////// */
nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* end navBar ///////////////////////////////////////////////////////////////////// */