:root {
    --codeBackColor: lightgrey;
    --tableHeadColor: rgba(243, 187, 45, 0.3);
    --tableDataColor: rgba(52, 213, 235, 0.2);
    --exampleBackColor: coral;
}

main {
    margin: auto;
    width: max-content;
}

code {
    background-color: var(--codeBackColor);
    font-family: monospace;
}

table {
    border-collapse: collapse;
    max-width: 100ch;
}

td,
th {
    border: white dashed 2px;
    padding: 2px 4px 2px 4px;
    text-align: center;
}

th {
    background-color: var(--tableHeadColor);
}

td {
    background-color: var(--tableDataColor);
}

td ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 18px;
    text-align: left;
}

ul {
    max-width: 80ch;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    text-transform: capitalize;
    font-size: 2rem;
}

h2+p {
    border-left: solid dimgray 4px;
    padding-left: 2ch;
    font-style: italic;
    font-size: 1.1rem;
    max-width: 80ch;

}

h3 {
    text-transform: lowercase;
    border-top: solid dimgray 1px;
    padding-top: 1rem;
    padding-left: 4ch;
    margin-bottom: -0rem;
    font-size: 1.5rem;
}

h4 {
    text-decoration: underline;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: lowercase;
}

summary {
    background-color: var(--exampleBackColor);
    text-align: center;
}

summary::after {
    content: "for example:";
    letter-spacing: 0.2rem;
    font-style: italic;
}

details {
    text-align: left;
}

.exCode {
    display: block;
    background-color: var(--codeBackColor);
    font-family: monospace;
    margin-top: 0.1rem;
    margin-bottom: 00.1rem;
}